@font-face {
    font-family: 'styleoftext';
    src: url(./uni-sans/Uni\ Sans\ Thin.otf);
}

@font-face {
    font-family: 'Lato';
    src: url(./lato/Lato-Semibold.ttf);
}



#background-image{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.upperimage{
   position: absolute;
   height: 520px;
   top: 90px;
   left: 825px;
   transition: all 0.5s;
   transform: scale(1);
}

.upperimage:hover{
    transform: scale(1.02);
    filter: brightness(105%);
}

.lineone{
    width: 90%;
    margin-top: 70px;

}

.navigation{
    display: inline-block;
    position: absolute;
    list-style-type: none;
    word-spacing: 30px;
    top: 25px;
    left: 883px;
    font-family: 'styleoftext';
    /* letter-spacing: 10px; */

}

.navigation li{
    display: inline;
}

.navigation a{
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
}

.description{
    position: absolute;
    color: white;
    width: 510px;
    top: 350px;
    left: 77px;
    font-size:x-large;
    font-family: 'styleoftext';
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.watch{
    position: absolute;
    color: white;
    top: 530px;
    left: 77px;
    font-family: 'styleoftext';
    font-weight: lighter;
    font-size: smaller;
    transition: all 0.5s;
    transform: scale(1);
}

.watch:hover{
    transform: scale(1.02);
    filter: brightness(105%);

}
.rating{
    position: absolute;
    color: white;
    top: 530px;
    left: 407px;
    font-family: 'styleoftext';
    font-weight: lighter;
    font-size: smaller;
    transition: all 0.5s;
    transform: scale(1);
}

.rating:hover{
    transform: scale(1.02);
    filter: brightness(105%);

}

.logo{
    position: absolute;
    width: 80px;
    top: 30px;
    left: 77px;
}

.secondtext{
    font-size:62px;
    font-family: 'Lato';
    /* letter-spacing: 15px; */
}

.episodes{
    position:absolute;
    list-style-type:none;
    z-index: 1001;
    left: 40px;
    top: 100px;
}

a{
    color: white;
    text-decoration: none;
    font-family: 'styleoftext';
    font-size: 60%;
    line-height: 37px;
    word-spacing: 5px;
    letter-spacing: 3px;
}

.endlinedescription{
    position: absolute;
    font-size: xx-small;
    font-family: 'styleoftext';
    color: white;
    top: 620px;
    left: 75px;
    
}

.playbutton{
    position: absolute;
    top: 50%;
    left: 47%;
    height: 90px;
    transition: all 0.5s;
    transform: scale(1);
}

.playbutton:hover{
    transform: scale(1.3);
    filter: brightness(120%);
}

.one{
    transition: all 0.5s;
    transform: scale(1);
}

.one:hover{
    transform: scale(1.1);
    filter: brightness(120%);
}

.two{
    transition: all 0.5s;
    transform: scale(1);
}

.two:hover{
    transform: scale(1.1);
    filter: brightness(120%);
}

.three{
    transition: all 0.5s;
    transform: scale(1);
}

.three:hover{
    transform: scale(1.1);
    filter: brightness(120%);
}

.four{
    transition: all 0.5s;
    transform: scale(1);
}

.four:hover{
    transform: scale(1.1);
    filter: brightness(120%);
}

.five{
    transition: all 0.5s;
    transform: scale(1);
}

.five:hover{
    transform: scale(1.1);
    filter: brightness(120%);
}

/* .first1{
    transition: all 0.5s;
    transform: scale(1);
}

.first1:hover{
    transform: scale(1.1);
    filter: brightness(120%);
}

.second2{
    transition: all 0.5s;
    transform: scale(1);
}

.second2:hover{
    transform: scale(1.1);
    filter: brightness(120%);
}

.third3{
    transition: all 0.5s;
    transform: scale(1);
}

.third3:hover{
    transform: scale(1.1);
    filter: brightness(120%);
}

.fourth4{
    transition: all 0.5s;
    transform: scale(1);
}

.fourth4:hover{
    transform: scale(1.1);
    filter: brightness(120%);
} */

.command{
    position: absolute;
    color: white;
    font-size: xx-small;
    top: 620px;
    left: 1300px;
    font-family: 'styleoftext';
}

.share{
    position: absolute;
    top: 625px;
    height: 18px;
    left: 1270px;
}

